.hero3{
    position: absolute;
    bottom: 0; 
    display: flex;
    justify-content: center;
}

.hero{
    display: flex;
    justify-content: center;

}

.hero1{
    position: absolute;
    bottom: 0; 
    left: 200px;
    display: flex;
    justify-content: left;
}

.hero2{
    position: absolute;
    bottom: 0;
    right: 200px; 
    display: flex;
    justify-content: right;
}

.hero-low{
    right: 400px;
    display: flex;
    justify-content: center;   
}

.bttn{
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.icon{
    margin-left: 10px;
    margin-right: 10px;
}